* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #000;
}

ul{
  list-style-type: none;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  border-bottom: solid 3px #8E8E8E;
  overflow: hidden;
  line-height: 70px;
  margin: 0 40px;
}

.logo{
  font-size: 20px;
  font-weight: 600;
  float: left;
  vertical-align: middle;
}

.rightlink{
  font-size: 18px;
  color: #7D7D7D;
  font-weight: bold;
  float: right;
  vertical-align: middle;
  margin-left: 30px;
}

.header{
  font-size: 56px;
  font-weight: 600;
  margin: 30px 40px;
  padding: 0;
  width: 70%;
}

.numflex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 20px;
}

.numflex > div {
  box-shadow: 0px 4px 15px #E3E3E3;
  width: 30%;
  margin: 0 20px;
  text-align: center;
  padding: 30px 0;
  border-radius: 7px;
}

.numflex > div > h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}

.numflex > div > h2 > span {
  font-weight: 600;
  color: #8D8D8D;
  font-size: 20px;
}

.section{
  margin: 70px 0 0 0;
}

.cont{
  background-color: #F8F8F8;
  padding: 40px 40px;
}

.cont > h2 {
  font-weight: 600;
  font-size: 30px;
  width: 70%;
  padding-top: 40px;
}

.cont > h3 {
  font-weight: 500;
  color: #5e5e5e;
  font-size: 23px;
  width: 70%;
}

.cont > h3 > a {
  color: #709BFF;
}

.about{
  padding-top: -70px;
  background: white;
}

@media only screen and (max-width: 600px) {
  nav{
      border-bottom: solid 3px #8E8E8E;
      overflow: hidden;
      line-height: 60px;
      margin: 0 20px;
  }

  .logo{
      font-size: 16px;
  }

  .rightlink{
    display: none;
  }

  .header{
      font-size: 40px;
      margin: 30px 20px;
      width: auto;
  }

  .numflex {
      flex-wrap: wrap;
      padding: 0 12px;
      margin: 0px 0 -20px 0;
  }

  .numflex > div {
      margin: 10px;
      padding: 5px 0;
  }

  .flex1{
    flex: 100%;
  }

  .flex2{
    flex-grow: 1;
  }

  .flex3{
    flex-grow: 1;
  }

  .numflex > div > h2 {
      font-size: 25px;
      line-height: 35px;
  }

  .numflex > div > h2 > span {
      font-size: 20px;
  }

  .cont{
    padding: 40px 20px;
  }

  .cont > h2 {
    font-size: 24px;
  }

  .cont > h3 {
    font-size: 20px;
    line-height: 34px;
    margin-top: 10px;
  }

}